<div class="container">
  <nav class="navbar pb-0 mt-2">
    <div class="container-fluid">
      <img class="navbar-brand" src="/assets/icon.png">
    </div>
  </nav>
  <hr class="my-0">
  <hr class="mt-0 opacity-25 bg-secondary" style="height: 5px">
  <div class="row">
    <img src="assets/header.jpg">
  </div>
  <hr>
  <div class="row">
    <app-vehicle-list class="col-8"></app-vehicle-list>
  </div>
  <hr class="opacity-0">
  <footer class="row text-center">
    <p class="text-muted">Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo</p>
  </footer>
</div>
